
{% load staticfiles %}



<html>
    <head>

                <title>Auth Demo</title>

                </head>
                <body>
                                <a>Garage systems</a>

                                <a href="/logout">Logout</a>

                {% block content %}
                {% endblock %}

            </body>
        </html>