<head>
    <style>

        body {
  background: tomato;
}

h1 {
	margin: 20px;
	font-weight: normal;
	position: relative;
	text-shadow: 0 -1px rgba(0,0,0,0.6);
	font-size: 28px;
	line-height: 40px;
	background: #355681;
	background: rgba(53,86,129, 0.8);
	border: 1px solid #fff;
	padding: 5px 15px 10px 220px;
	color: white;
	border-radius: 0 10px 0 10px;
	box-shadow: inset 0 0 5px rgba(53,86,129, 0.5);
	font-family: 'Titillium Web', sans-serif;
}
    </style>


</head>

{% extends 'base.html' %}

{% block content %}


            <h1>Hello {{user.username}}</h1>
            <p>You Can see ur car status here</p>
             {% for car in all_cars %}
                {%if user.username == car.owner_name%}

                    <h1> Hey {{car.owner_name}}, We hope u r doing Wonderfull..!!<br>Details of ur car<br>
                    status of repair: DONE<br>

                    Car Name: {{car.name}}<br> Model of the car: {{car.car_model}}<br>Year of the car: {{car.year}}
                    <br>ur car is assigned to Gopi<br>U can see ur car service video here:<a href="">Video</a> </h1>
                {%endif%}

            {%endfor%}


{% endblock %}

