
{%load staticfiles %}


<html>
{%with 2 as x%}
    {%for car in all_cars%}
        {% if car.id == x %}
            <h1>Hello Mr. {{car.owner_name}}. We hope u r doing Wonderfull..!!<br>Details of ur car:</h1>
            <h1>status of reapir: DONE</h1>
            <h1>Car Name: {{car.name}}<br> Model of the car: {{car.car_model}}<br>Year of the car: {{car.year}}<br>Car came to garage at: {{car.starttime}}<br>ur car is assigned to Gopi<br>U can see ur car service video here:<a href="www.youtube.com">Video</a> </h1>




        {%endif%}

    {%endfor%}
    {%endwith%}

</html>