{%load staticfiles %}
<html>
<head>
<style>

    body {
  background: tomato;
}

h1 {
	margin: 20px;
	font-weight: normal;
	position: relative;
	text-shadow: 0 -1px rgba(0,0,0,0.6);
	font-size: 28px;
	line-height: 40px;
	background: #355681;
	background: rgba(53,86,129, 0.8);
	border: 1px solid #fff;
	padding: 5px 15px 10px 220px;
	color: white;
	border-radius: 0 10px 0 10px;
	box-shadow: inset 0 0 5px rgba(53,86,129, 0.5);
	font-family: 'Titillium Web', sans-serif;
}

</style>


<h1> Hello staff, these are the cars currently we are having in our garage.</h1>
</head>
<ul>
    {%for car in all_cars%}

         <h1>Details of car:{{car.id}} </h1>
            <li>Car has repair related to:{{car.repair}}</li>
            <li>The owner name is: {{car.owner_name}}</li>
            <li>Car is of model: {{car.car_model}}</li>
            <li>car came to garage at:{{car.starttime}}</li>
            <li>Car is assigned to : </li>

            <br><br>


    {%endfor%}
</ul>






</html>